<div class="container">
<div class="row">
<!-- <div class="col-sm-8"> -->
  <div style="width: 100%; height: 88vh;">
    <div id="map" class="map" style="width: 100%; height: 88vh;">

      <div  class="draw" id="draw" style="margin-top:220px">
        <button type="button"  id="pkdpkf" class="myButton" style="margin:10px;backgroundColor:rgba(48, 95, 153,0.63)" (click)="printmodal.show()"><i class="bi bi-printer-fill"></i></button>
       </div>

       <div  class="draw" id="draw" style="margin-top:190px">
        <button type="button"  id="hello" class="myButton" style="margin:10px;backgroundColor:rgba(48, 95, 153,0.63)" (click)="hellomodal.show()"><i class="bi bi-cursor"></i></button>
       </div>

       <div  class="draw" id="draw" style="margin-top:160px">
        <button type="button"  id="pkdpkf" class="myButton" style="margin:10px;backgroundColor:rgba(48, 95, 153,0.63)" (click)="hello2modal.show()"><i class="bi bi-signpost-2"></i></button>
       </div>

       <div  class="draw" id="draw" style="margin-top:320px">
        <button type="button"  id="pkdpkf" class="localisationDiv_effacer" style="margin:10px;backgroundColor:rgba(48, 95, 153,0.63)" (click)="printmodal.show()"><i class="bi bi-printer-fill"></i></button>
       </div>

    </div>
  </div>
  <!-- </div> -->
<!-- <div class="col-sm-4">
<h2> Titre</h2>
<label id = "labelA"for="aa">inserer la valeur de a:</label>
<input id="aa" type="number" (change)="valueOfA($event)"/>

<label  id = "labelB" for="ab">inserer la valeur de b:</label>
<input type="number" id="ab" (change)="valueOfB($event)"/>
<br>
<button (click)="ajouter()">submit</button>

<hr>
<p>la résultat de calcul est: {{somme_Attendu}}</p>

</div> -->
</div>
</div>

<app-modal  #printmodal class="modal-demo1" [maximizable] = "true" [backdrop] = "false">
  <ng-container class="app-modal-header" >Imprimer</ng-container>
  <ng-container  class="app-modal-body">
    <div class="container">

     <label>Choisie la route:</label> 
    <mat-form-field appearance="fill" >
      <mat-label>Choisie la route</mat-label>
      <mat-select [(value)]="selectedRouteT" (selectionChange)="onchangeRouteTable($event.value)"  >
      <mat-option class="selection" *ngFor="let nom of routes" value={{nom}}>{{nom}}</mat-option>
     
      </mat-select>
    </mat-form-field>
  
    </div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div><label>le PKD en km</label> 
      </div>
        <input style="
                        background-color: #c4ffe9;
                        border: solid black 1px;
                        color: purple;
                        border-radius: 2px;"
                        type="number" id="5678" name="name"  text class="form-control"  [value]="pkd" (change)="pkdEvent($event)" >  
    
    </div>
    <div class="col-6">
      <div><label>le PKF en km</label> 
      </div>
        <input style="
                        background-color: #c4ffe9;
                        border: solid black 1px;
                        color: purple;
                        border-radius: 2px;"
                         type="number" id="5678" name="name"  text class="form-control"  [value]="pkf" (change)="pkfEvent($event)" >  
    
    </div>
  </div>
  </div>
<hr>
                     <div class="d-grid gap-2">
                      <button class="btn btn-primary" (click)="print()" type="button">Executer</button>
                     </div>
  </ng-container>  
  
</app-modal>

<app-modal  #hellomodal class="modal-demo1" [maximizable] = "true" [backdrop] = "false">
  <ng-container class="app-modal-header" >projeter un point</ng-container>
  <ng-container  class="app-modal-body">
    <div class="container">
     <label>Choisie la route:</label> 
    <mat-form-field appearance="fill" >
      <mat-label>Choisie la route</mat-label>
      <mat-select [(value)]="selectedRouteT" (selectionChange)="onchangeRouteTable($event.value)"  >
        
        <mat-option class="selection" *ngFor="let the of routes" value={{the}}>{{the}}</mat-option>
     
      </mat-select>
    </mat-form-field>


    <div><label>le PK en km</label> </div>

    <input style="
                    background-color: #c4ffe9;
                    border: solid black 1px;
                    color: purple;
                    border-radius: 2px;"
                     type="number" id="5678" name="name"  text class="form-control"  [value]="pk" (change)="pkEvent($event)" >  

  </div>


<hr>
                     <div class="d-grid gap-2">
                      <button class="btn btn-primary" (click)="cc()" type="button">Executer</button>
                     </div>

  </ng-container>  

  
</app-modal>

<!-- route pkd pkf model -->

<app-modal  #hello2modal class="modal-demo1" [maximizable] = "true" [backdrop] = "false">
  <ng-container class="app-modal-header" >projeter une section</ng-container>
  <ng-container  class="app-modal-body">
    <div class="container">

     <label>Choisie la route:</label> 
    <mat-form-field appearance="fill" >
      <mat-label>Choisie la route</mat-label>
      <mat-select [(value)]="selectedRouteT" (selectionChange)="onchangeRouteTable($event.value)"  >
        
        <mat-option class="selection" *ngFor="let the of routes" value={{the}}>{{the}}</mat-option>
     
      </mat-select>
    </mat-form-field>


  
    </div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div><label>le PKD en km</label> 
      </div>
        <input style="
                        background-color: #c4ffe9;
                        border: solid black 1px;
                        color: purple;
                        border-radius: 2px;"
                         type="number" id="5678" name="name"  text class="form-control"  [value]="pkd" (change)="pkdEvent($event)" >  
    
    </div>
    <div class="col-6">
      <div><label>le PKF en km</label> 
      </div>
        <input style="
                        background-color: #c4ffe9;
                        border: solid black 1px;
                        color: purple;
                        border-radius: 2px;"
                         type="number" id="5678" name="name"  text class="form-control"  [value]="pkf" (change)="pkfEvent($event)" >  
    
    </div>
  </div>

  </div>


<hr>
                     <div class="d-grid gap-2">
                      <button class="btn btn-primary" (click)="cc1()" type="button">Executer</button>
                     </div>

  </ng-container>  

  
</app-modal>
<!-- route pkd pkf model -->




<!-- popup -->
<div id="popup" class="ol-popup">
  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content"></div>
</div>
